<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om sidan</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" href="/pictures/favicon.ico" type="image/ico">
</head>
<body>
    <nav>
        <a href="/">Startsida</a> |
        <a href="/add">Lägg till kurs</a> |
        <a href="/about">Om sidan</a>
    </nav>

    <h1>Om sidan</h1>

    <main>
        <div class="info">
            <p>Denna webbplats är ett databasbaserat CV som låter användare spara och visa kurser som de har läst. Webbplatsen är byggd med Node.js och Express, och använder EJS som view engine.
            </p>

            <h2>Databas</h2>
            <p>Webbplatsen använder sig av SQL som databasserver. Datan sparas i en tabell som heter courses som i sin tur innehåller kurskod, kursnamn, kursplan och progression</p>

            <h2>Slutsatser</h2>
            <p>Denna uppgift har hjälpt mig förstå hur man faktiskt kopplar ihop en databas tillsammans med en Node.js med hjälp av Express och SQLite. Utöver det har jag fått mer förståelse för hur man använder olika SQL-kommandon som SELECT och DELETE för att hantera data i en databas.</p>
        </div>
    </main>

</body>
</html>