<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startsida</title>
</head>
<body>

    <nav>
        <a href="/">Startsida</a> |
        <a href="/add">Lägg till kurs</a> |
        <a href="/about">Om sidan</a>
    </nav>

    <h1>Samtliga valda kurser</h1>
    
</body>
</html>